<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>My list</h1>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
                <table>

                
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todolist in todolist %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' todolist.id %}">{{ todolist.name }}</a>
                            </td>
                            <td>{{ todolist.items.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>